*,
*:before,
*:after
    box-sizing border-box

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, em, img, footer, header,
small, strike, strong, sub, sup, ol, ul, li, canvas,
menu, nav, section, video, abbr, time, progress
    margin 0
    padding 0
    border 0
    outline 0
    font inherit
    font-size 100%
    font-weight inherit
    vertical-align baseline
    background transparent no-repeat top left

ol,
ul
    list-style none
    padding 0

a
    text-decoration none

html
    min-height 100%

body
    position relative
    min-height 100%
    font-size 62.5%
    line-height 1.4
    font-family "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
    color #222
    background-color #fff
    -webkit-text-size-adjust none

strong
    font-weight bold

svg
    display inline-block
    max-width 100%
    max-height 100%

img,
video
    max-width 100%

.cf:before,
    .cf:after
    content ""
    display table

.cf
    zoom 1
    &:after
        clear both

