// @font-face
//     font-family 'kelson'
//     src url('../fonts/kelson_sans_regular.ttf')
//     font-weight bold
//     font-style normal

@font-face
    font-family 'kelson'
    src url('../fonts/kelson_sans_light.woff2') format('woff2'),
        url('../fonts/kelson_sans_light.woff') format('woff')
    font-weight 100
    font-style normal

@font-face
    font-family 'neo-noir'
    src url('../fonts/snneonoire-regular.woff2') format('woff2'),
        url('../fonts/snneonoire-regular.woff') format('woff')
    font-weight normal
    font-style normal
