$color = #7258a1
$light = 100
$global-ease = cubic-bezier(.4,0,.5,1)
$font-title = 'kelson', serif


fill-hover($color, $color-hover)
    html.backgroundcliptext.no-touch &
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to left, $color 0%, $color 50%, $color-hover 50%, $color-hover 100%);
        background-size: 200% 100%;
        background-position: 100% 0;
        transition: background-position .5s $global-ease;

        &:focus,
        &:hover
            background-position: 0% 0%;

    html.touch &,
    html:not(.backgroundcliptext) &
        color $color
        transition: color .5s $global-ease;

        &:focus,
        &:hover
            color $color-hover
