
@media (min-width 767px)
    .hidden-sm-up
        display none !important

@media (max-width 768px)
    .hidden-xs
        display none !important

html.is-mobile
    .hidden-mobile
        display none !important

html:not(.is-mobile)
    .hidden-not-mobile
        display none !important