$color = #7258a1
$purple = #7258a1
$light = 100
$global-ease = cubic-bezier(.4,0,.5,1)
$font-title = 'kelson', serif

body
    background #F8F6F9

img,
video
    display block

.bg-gradient
    position fixed
    z-index 5
    top 0
    right 0
    bottom 0
    left 0
    min-width 100%
    min-height 100%
    background-image linear-gradient(#1de9b6 0%, #1de9b6 100%)

.wrapper
    position relative
    z-index 10
    width 100%
    margin-right auto
    margin-left auto
    font-size 18px

.intro
    text-align center
    margin 0 auto

    .logo
        display block
        width 120px
        height 120px
        margin 20px auto 120px
        fill #7258a1
        stroke #7258a1

        .logo-svg
            width 100%
            height 100%
            opacity 0
            transition opacity .4s ease-in-out

            html.js-ready &
                opacity 1

.page-title
    font-family $font-title
    color $color
    font-size: 32px;
    font-weight $light
    letter-spacing 4px
    margin 0 auto 40px

.main-footer
    margin 100px auto 0
    text-align center
    background-color #F8F6F9

    @media (max-width: 768px)
        margin 80px auto 0

    .box
        width 75%
        margin 0 auto
        padding-top 20px
        padding-bottom 20px
        border-top 1px solid #C7C3C9

        @media (max-width: 768px)
            width 80%
            padding-top 40px

    .links-list
        display flex
        flex-direction row
        justify-content space-between
        align-items center

        .item
            flex-grow: 1
            padding 0 40px

@media (max-width: 768px)
    .main-footer .links-list
        .item
            padding 0 20px

        .item:last-child
            padding-right 0

        .item:first-child
            padding-left 0

.button-link
    position relative
    display inline-block
    width 100%
    max-width 300px
    height 40px
    line-height 37px
    text-align center
    font-size 18px
    color #7A6D81
    transition color .4s $global-ease, border-color .4s $global-ease

    &:after
        content ''
        position absolute
        top 0
        left 50%
        width 0
        height 100%
        border 1px solid rgba(#C7C3C9, .9)
        background-color rgba(#C7C3C9, .1)
        border-left 0
        border-right 0
        opacity 0
        transform translateX(-50%)
        transition opacity .1s $global-ease .3s, width .4s $global-ease, border-color .4s $global-ease

    &:focus,
    &:hover
        color $color
        border-color $color

    &:focus:after,
    &:hover:after
        width 100%
        opacity 1
        transition opacity .1s $global-ease, width .4s $global-ease, border-color .4s $global-ease

    @media (max-width: 768px)
        font-size 14px

.media

    .video-box
        width 100%
        max-width 1260px
        height 100%
        text-align center
        background #F8F6F9

        @media (max-width 768px)
            height auto

        .image,
        video
            max-width 100%
            max-height 100%
            box-shadow 0 0 5px rgba(37, 28, 53, .3)


.works-list
    padding-left 20px
    padding-right 20px
    opacity 0
    transition opacity .4s ease-in-out

    html.js-ready &
        opacity 1

    @media (min-width: 1200px)
        padding-left 40px
        padding-right 40px

    .work
        height 90vh
        position relative
        z-index 10
        display flex
        align-items center
        justify-content center

        @media (max-width 768px)
            height auto
            display block

    .work + .work
        margin-top 100px

        @media (max-width: 1420px)
            margin-top 60px

        @media (max-width: 1280px)
            margin-top 40px

        @media (max-height: 760px)
            margin-top 80px

        @media (max-height: 710px)
            margin-top 120px

        @media (max-width: 768px)
            margin-top 120px

    .media
        position relative
        z-index 1
        max-width 85%
        max-height 90vh

        @media (max-width: 768px)
            max-height none
            max-width 100%

    .work-title
        position absolute
        z-index 3
        top 0
        left 0
        font-family 'neo-noir'
        font-size 74px
        line-height 1
        color $purple
        text-transform uppercase
        mix-blend-mode hard-light
        transform translate(-25%, -50%)

        @media (max-width: 1280px)
            font-size 60px
            transform translate(-10%, -50%)

    .infos
        position absolute
        z-index 3
        bottom 0
        right 0
        font-size 16px
        transform translate(10%, -25%)

        @media (max-width 768px)
            position relative
            bottom auto
            right auto
            transform none

.card-anim
    opacity 0

.card
    position relative
    display inline-block
    min-width 300px
    max-width 300px
    padding 20px 15px 15px
    border-bottom 5px solid $purple
    box-shadow 0 0 8px rgba(37, 28, 53, .5)
    overflow hidden

    @media (max-width: 768px)
        display block
        width auto
        max-width 100%
        margin-left auto
        margin-right auto
        box-shadow 0 0 3px rgba(37, 28, 53, .3)

    &::after
        content ''
        position absolute
        z-index -2
        top 0
        left 0
        width 100%
        height 100%
        display block
        background-color #fff

    @media (max-width: 768px)
        margin 10px auto
        max-width 100%

    .site-title
        font-family $font-title
        color $color
        font-size 28px
        font-weight $light
        letter-spacing 1px
        line-height 1
        margin-bottom 10px

        @media (max-width: 768px)
            display none


    .metas
        font-size 14px
        color #555
        font-style italic

    .site-url
        font-family monospace
        font-size 14px
        color #000
        margin-bottom 10px

    .site-job
        margin-bottom 10px
        font-size 14px
        line-height 1.2

.tag
    display inline-block
    vertical-align middle
    line-height 1
    font-family monospace
    text-transform lowercase
    font-variant small-caps
    font-size 16px
    padding 0px 5px 3px
    background-color rgba($color, .1)

a.tag
    color $color

.awards
    display inline-block
    font-family monospace
    text-transform uppercase
    font-size 12px
    letter-spacing 1px
    color $color

    a
        color inherit

.link
    position relative
    display inline-block
    padding 0 4px
    transition color .4s $global-ease .4s
    fill-hover(#000, #fff)

    &:before
        content '>'
        font-weight bold
        font-size 10px
        margin-right 4px
        color #000
        background none

    &:after
        content ''
        position absolute
        z-index -1
        right 0
        bottom 0
        top: 0;
        left 0
        width 0
        height 100%
        background-color $color
        transition width .4s $global-ease
    // &,
    &:focus,
    &:hover
        &:after
            width 100%
            transition width .4s $global-ease


.media
    position relative
    overflow visible

.screen-viewer
    max-height 400px
    overflow-y hidden

    .image
        backface-visibility hidden
        transition transform .8s $global-ease 1s
    &:hover
        .image
            transform translateY( calc(-100% + 400px) )
            transition transform .8s $global-ease

// cases

// .work-selectiveline,
// .work-milkdeco
//     .video-box
//         overflow-x hidden
//         overflow-y visible
//     .video
//         width: 101%;
//         max-width: none;

// .work-selectiveline
//     .video
//         position: relative;
//         top: -1px;

.work-radiokawa
    .work-title
        mix-blend-mode color-dodge


.work-others
    .infos
        position relative

        .card
            display block
            margin-bottom 20px
            // min-width 400px
            // max-width 400px
            padding 0
            border-bottom-width 1px
            text-align center
            overflow visible

            .card-link
                display block
                padding 15px
                color #222
                transition box-shadow .1s $global-ease

                &:hover
                    box-shadow 0 0 10px rgba(37, 28, 53, .95)

            .site-title
                font-size 24px
                margin-bottom 0

                @media (max-width: 768px)
                    display block

            .site-job,
            .metas
                font-size 12px

    .and-more
        font-family 'neo-noir'
        font-size 60px
        line-height 1.1
        color #342f4e
        text-transform uppercase
        text-align center
        margin-top 40px
        margin-bottom 40px
        // mix-blend-mode hard-light
        // transform translate(-25%, -50%)

        .and
            text-indent 40px
